:host ::ng-deep .p-tabs-nav,
:host ::ng-deep .p-tablist-tab-list {
    border-color: #ffffff;
    box-shadow: none !important;
}
/* Inside your component CSS */
:host ::ng-deep .p-tab-active{
  background-color: #2284c528;
}
:host ::ng-deep .p-tab {
  color: rgb(8, 119, 119);
  border: 0;
  border-color: #ffffff !important; 
}

:host ::ng-deep .p-datepicker-input , .p-select , .p-textarea , .p-inputtext{
  border-color: #2b8eff6c !important;
  font-size: .9rem;
}
